<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form action="{% url 'products:update' product.id %}" method="POST">
            {% csrf_token %}

            <label for="price">price:</label><br>
            <input type="text" name="price" id="price" value="{{ product.price }}"><br>
            <label for="amount">amount:</label><br>
            <input type="text" name="amount" id="amount" value="{{ product.amount }}"><br>
            
            <!-- {% for product in product_list %}
                <label for="price">price:</label><br>
                <input type="text" name="price" id="price" value="{{ product.price }}"><br>
                <label for="amount">amount:</label><br>
                <input type="text" name="amount" id="amount" value="{{ product.amount }}"><br>
            {% endfor %} -->
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>